<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <style>
        .newMessage {
            display: flex;
            flex-direction: column;
            margin-left: 40%;
            margin-top: 15%;
        }
        .newMessage input {
            margin-bottom: 2vh;
        }
        .formTitle {
            font-weight: bold;
            margin-bottom: 2vh;
        }
    </style>
</head>
<body>
    <div class="newMessage">
        <div class="formTitle">
            New Message
        </div>
        <form action="/new" method="post">
            <input type="text" name="messageText" placeholder="message" required>
            <br>
            <input type="text" name="messageUser" placeholder="user" required>
            <br>
            <div class="submitButton">
                <button type="submit">Send</button>
            </div>
        </form>
    </div>
</body>
</html>